.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1{
  margin: 84px 0px 24px;
}

.container input{
  width: 50%;
  padding: 24px;
  background: #e6e6e6;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.container button{
  width: 50%;
  padding: 24px;
  font-weight: 700;
  background: #ea4c89;
  color: white;
  border-radius: 5px;
  margin: 12px 0px 84px;
  cursor: pointer;
  transition: filter 0.2s;
  border: none;
}

.container button:hover{
  filter: brightness(0.9);
  font-size: 16px;
}